.top-nav{
    background-color: rgb(118,97,139);
    color: white;
    height:60px;

    .navbar-brand{
        width:100px;
        height:60px;
        background-color: rgba(0,0,0,.3);
    }

    .top-right-nav{
        width:20%;
    }

    .ki-sun {
        color: white;
    }
}