<div class="m-20 completed-surveys-container">
    <h2>Completed Pulse Surveys</h2>
    <p class="mb-20">Here you can see the pulse surveys that you have completed.</p>
    <div class="d-flex filter-container">
        <div>
            <div class="select-filter-picker">
                <ng-select #selectDropdown [searchable]="false" placeholder="Launched Between"
                    (change)="filterDropDown($event.id)" [items]="filterOptions" bindLabel="name" bindValue="id"
                    [clearable]="true" [(ngModel)]="selectedFilterId">
                </ng-select>
            </div>
            <div class="date-range-picker input-calendar w-300 form-group">
                <input #dateRangeCalendar type="text" class="selected-filters form-control" bsDaterangepicker
                    placement="right"
                    [bsConfig]="{ showWeekNumbers: false, isAnimated: false, rangeInputFormat: 'D MMM YYYY' }"
                    [(ngModel)]="selectedDate" (ngModelChange)="onDateChange($event)" />
            </div>
        </div>
        <div class="search-filter-text d-flex">
            <label class="position-relative"><i class="ki ki-search position-absolute"></i></label>
            <input class="h-100 pl-32" type="search" placeholder="Search" (input)="filterOnInput($event.target)"
                [(ngModel)]="inputTextFilter" />
        </div>
        <div class="filter-reset-btn d-flex">
            <label class="position-relative"><i class="ki ki-refresh position-absolute"></i></label>
            <input class="filter-reset-btn" type="reset" (click)="reset()" />
        </div>
    </div>
    <table *ngIf="filteredSurveys" class="table standard-table two-line-table">
        <thead>
            <tr>
                <th>SURVEY TITLE</th>
                <th>LAUNCHED ON</th>
                <th>CLOSED ON</th>
                <th>COMPLETED ON</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let survey of filteredSurveys">
                <td>
                    <p class="font-weight-normal">{{ survey.surveyTitle }}</p>
                    <p class="table-color-secondary">{{ survey.surveyDescription }}</p>
                </td>
                <td>
                    <p class="font-weight-normal">{{ survey.launchedOn | date : 'mediumDate' }}</p>
                    <p class="table-color-secondary">by {{ survey.launchedBy }}</p>
                </td>
                <td>
                    <p class="font-weight-normal">{{ survey.expiresOn | date : 'mediumDate' }}</p>
                    <p class="table-color-secondary">by {{ survey.launchedBy }}</p>
                </td>
                <td>
                    <p class="font-weight-normal">{{ survey.completedOn | date : 'mediumDate' }}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>