<div class="d-flex justify-content-center align-items-center h-100 login-page-wrap">
    <div class="verify-page d-flex flex-column  w-25 h-250 justify-content-evenly">
        <form class="h-100 d-flex flex-column justify-content-evenly form-group authentication-forms" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div>
                <label class="fw-bold">Email</label>
                <input type="text" class="form-control input-sm" formControlName="email"/>
                <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">
                    <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</div>
                </div>
            </div>
            <div>
                <label class="fw-bold">Password</label>
                <input type="password" class="form-control input-sm" formControlName="password" autocomplete=""/>
                <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
                    <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary p-4 w-100" [disabled]="!loginForm.valid" >Login</button>
        </form>
    </div>
</div>