<div class="m-30">
    <ng-container *ngIf = responseArrayFlag >
        <div class="mb-10" *ngFor="let question of surveyQuestionsArray; index as i">
            <p class="survey-question">{{i+1}}. {{question.questionText}}</p>
            <p class="mb-10 survey-response-type">Response type: {{question.questionType}}</p>
            <ng-container *ngIf="question.questionType=='Text'">
                <div class="p-20 survey-input-container">
                    <textarea [id]="question.surveyQuestionId" (blur)="updateComment($event)" class="p-8 border-radius-4 survey-input" placeholder={{question.description}}></textarea>
                </div>
            </ng-container>
            <ng-container *ngIf="question.questionType=='Rating'">
                <div class="mt-20 p-20 survey-input-container">
                    <div [id]="question.surveyQuestionId" class=" d-flex rating-container">
                        <p class="rating-label-circle">Provide your rating:</p>
                        <span *ngFor="let j of [1,2,3,4,5,6,7,8,9,10]" class="ml-10 rating-circle" [ngClass]= "{'rating-circle-fill': updateSelectAndRatingArray[i].selectedRating >= j}" (click)="updateRating(question.surveyQuestionId,j,i)"></span>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="question.questionType=='Select one from list'">
                <div class="mt-20 p-20 survey-input-container">
                    <ng-select [id]="question.surveyQuestionId" [(ngModel)]="updateSelectAndRatingArray[i].selectedOption" [searchable]="false" (change)="optionSelected(question.surveyQuestionId,selectedOption)" >
                        <ng-option [id]="option.optionId" *ngFor="let option of question.options" [value]="option.optionId">{{option.optionText}}</ng-option>
                    </ng-select>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>

