@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import "~@ng-select/ng-select/themes/material.theme.css";
@import "~@ng-select/ng-select/themes/material.theme.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #76618B;
  --primary-color-light:rgb(118, 97, 139);
}

.btn-group.btn-group-secondary .btn-link.btn.active, .btn-link {
  color: white !important;
}

.btn-primary:hover {
  background-color: #6e5883 !important;
}

.form-control {
  border-color: #c9ccd3 !important;
}

body {
  height: 100vh;
  margin-top: 0;
  font-family: "Segoe UI";
}

.sub-topnav.nav .active a::after {
  border-color: #76618B !important;
}

.bottom {
  position: absolute;
  z-index: 999999;
}

.bs-datepicker {
  top: 13px;
  left: 57px;
}

.bs-datepicker .bs-datepicker-body .selected, .bs-datepicker .bs-datepicker-head {
  background-color: #76618B !important;
}

.step-label span {
  width: 128px;
  display: flex;
}

.btn-primary, .stepper-wizard .step.active .step-number {
  background-color: #76618B !important;
  border-color: #76618B !important;
}

.btn.btn-link, .stepper-wizard .step .step-number {
  color: #76618B !important;
  border-color: #76618B !important;
}

.login-page-wrap {
  background: linear-gradient(to bottom, #9796f0, #fbc7d4);
}

.form-group {
  outline: 1px dashed rgb(32, 106, 163);
  outline-offset: 60px;
}

label {
  font-size: 15px;
}

input {
  border: 2px solid white;
}

input:hover {
  background-color: white;
}

.verify-page-wrap {
  background: linear-gradient(to bottom, #9796f0, #fbc7d4);
}

.verify-header {
  font-family: "Pacifico", cursive;
  font-size: 60px;
  color: whitesmoke;
  text-shadow: 2px 4px 4px rgb(54, 50, 50);
}

.navbar {
  margin-top: 0px;
}

.content-wrapper {
  margin-left: 100px;
}

.content {
  max-height: 685px;
}

.active a::after {
  border-bottom-color: #e3e5e8;
}

.navbar a {
  color: #a2a9b4;
}

.left-nav {
  height: 100%;
  top: 60px;
}

.active-tab {
  background-color: #394253;
}

.top-nav {
  background-color: rgb(118, 97, 139);
  color: white;
  height: 60px;
}
.top-nav .navbar-brand {
  width: 100px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.3);
}
.top-nav .top-right-nav {
  width: 25%;
}
.top-nav .ki-sun {
  color: white;
}

.take-survey-link {
  color: rgb(118, 97, 139) !important;
}

.open-survey-container {
  overflow-y: scroll;
  max-height: 626px;
}

.survey-question {
  font-size: 14px;
  font-weight: 500;
}

.survey-response-type, .rating-label-circle {
  color: grey;
}

.survey-input-container {
  background-color: rgb(250, 250, 250);
  width: 80%;
}

.survey-input {
  resize: none;
  outline: none;
  width: 100%;
  border-color: rgb(216, 219, 223);
  caret-color: rgb(216, 219, 223);
  color: grey;
}

.survey-input::-moz-placeholder {
  color: grey;
}

.survey-input:-ms-input-placeholder {
  color: grey;
}

.survey-input::placeholder {
  color: grey;
}

.rating-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-width: 2px;
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(118, 97, 139);
}

.rating-circle-fill {
  background-color: rgb(118, 97, 139);
}

.sub-header-navigator-wrapper {
  margin-left: 40%;
  width: 17%;
}

.sub-header-navigator {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(118, 97, 139);
}

.sub-header-navigator-active {
  color: white;
  background-color: rgb(118, 97, 139);
}

.sub-header-navigator-inActive {
  color: rgb(118, 97, 139);
  background-color: white;
}

.modal-btn-continue {
  background-color: rgb(118, 97, 139) !important;
}

.other-details-subHeading {
  font-size: 10px;
  color: grey;
}

.select-survey-question {
  width: 150px;
}

.percentage-container {
  height: 10px;
  width: 300px;
  background-color: rgb(236, 234, 238);
  border-radius: 10px;
}
.percentage-container .percentage-value {
  height: 100%;
  border-radius: 10px;
  background-color: rgb(118, 97, 139);
}

.navigate-question-buttons {
  height: 25px;
}
.navigate-question-buttons button {
  background-color: rgb(164, 170, 178);
  border-radius: 4px;
  border: none;
}
.navigate-question-buttons button .ki-arrow-dropdown-right, .navigate-question-buttons button .ki-arrow-dropdown-left {
  color: white;
}

.switch-detailed-analytical-btn {
  height: 40px;
}

.detailed-rating-table {
  margin-bottom: 20px !important;
}

.detailed-table {
  max-width: 200px;
}

.survey-confirmation-modal p {
  font-size: 14px;
  font-weight: 500;
}

.confirm-no-btn {
  border-color: rgb(118, 97, 139) !important;
}

.confirm-yes-btn {
  background-color: rgb(118, 97, 139) !important;
}

.completed-surveys-container {
  overflow-y: scroll;
  max-height: 626px;
}

.select-filter-picker {
  width: 350px;
}
.select-filter-picker .ng-select {
  padding-bottom: 0;
}

.search-filter-text {
  height: 39px;
  width: 100%;
}
.search-filter-text .ki-search {
  top: 7px;
  left: 5px;
}
.search-filter-text input {
  width: 100%;
  outline: none;
}

.filter-reset-btn {
  height: 39px;
  width: 100px;
  cursor: pointer;
}
.filter-reset-btn .ki-refresh {
  top: 7.5px;
  left: 7px;
  cursor: pointer;
}

.pulse-survey-title {
  font-weight: 400;
  color: #252525;
  font-size: 26px;
  font-family: "Segoe UI";
  padding-bottom: 10px;
}

.pulse-survey-description {
  font-size: 13px;
  font-weight: 400;
  color: #686868;
}

.dropdown-menu a {
  display: block;
  padding: 8px 16px;
  color: #333;
  text-decoration: none;
  white-space: nowrap;
}

.dropdown-menu a:hover {
  background-color: #eee;
}

.dropdown-menu.show {
  display: block;
}

.survey-table p {
  font-size: 13px;
}

.survey-field {
  color: #9da0a3;
}

.dd-menu {
  position: absolute;
  right: 37px;
  list-style-type: none;
  z-index: 9999;
  padding-left: 0px;
  padding: 20px 0px 10px 0px;
  width: 145px;
  background-color: #ffffff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}
.dd-menu li {
  padding: 15px 8px 10px 15px;
}

.dd-menu li:hover {
  background-color: #e0dfdf;
}

.settings {
  padding-left: 20px;
  padding-top: 40px;
  width: 97%;
}

.settings div:first-child {
  padding-bottom: 10px;
}

.templates-table {
  padding-top: 20px;
}

.active a::after {
  border-bottom-color: #e3e5e8 !important;
}

.active-surveys-container {
  overflow-y: scroll;
  max-height: 602px;
}

.survey-table td:first-child {
  width: 55%;
}

.pulse-survey-description {
  color: #686868;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-menu a {
  display: block;
  padding: 8px 16px;
  color: #333;
  text-decoration: none;
  white-space: nowrap;
}

.dropdown-menu a:hover {
  background-color: #eee;
}

.survey-field {
  color: #9da0a3;
  font-size: 12px;
}

.dropdown-menu.show {
  display: block;
}

.dropdown.show .icon-click .ki {
  color: #76618b;
}

.dd-menu {
  position: absolute;
  right: 37px;
  list-style-type: none;
  z-index: 9999;
  padding-left: 0;
  width: 145px;
  background-color: #ffffff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.dd-menu li {
  padding: 15px 8px 15px 15px;
  display: block;
  cursor: pointer;
}

.dd-menu li:first-child {
  padding-top: 20px;
}

.dd-menu li:last-child {
  padding-bottom: 20px;
}

.dd-menu a {
  display: block;
  width: 100%;
  height: 100%;
}

.dd-menu li:hover {
  background-color: #e0dfdf;
}

.register-page-wrap {
  background: linear-gradient(to bottom, #9796f0, #fbc7d4) !important;
}
.register-page-wrap .form-group {
  outline: 1px dashed rgb(32, 106, 163);
  outline-offset: 60px;
}
.register-page-wrap .register-form {
  width: 30%;
}
.register-page-wrap label {
  font-size: 15px;
}
.register-page-wrap input {
  border: 2px solid white;
}
.register-page-wrap input:hover {
  background-color: white;
}

.select-filter-picker {
  width: 350px;
}
.select-filter-picker .ng-select {
  padding-bottom: 0;
}

.search-filter-text {
  height: 39px;
  width: 100%;
}
.search-filter-text .ki-search {
  top: 7px;
  left: 5px;
}
.search-filter-text input {
  width: 100%;
  outline: none;
}

.filter-reset-btn {
  height: 39px;
  width: 100px;
  cursor: pointer;
}
.filter-reset-btn .ki-refresh {
  top: 7.5px;
  left: 7px;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-menu a {
  display: block;
  padding: 8px 16px;
  color: #333;
  text-decoration: none;
  white-space: nowrap;
}

.dropdown-menu a:hover {
  background-color: #eee;
}

.dropdown-menu.show {
  display: block;
}

.dd-menu {
  position: absolute;
  right: 37px;
  list-style-type: none;
  z-index: 9999;
  padding-left: 0px;
  padding: 20px 0px 10px 0px;
  width: 145px;
  background-color: #ffffff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}
.dd-menu li {
  padding: 15px 8px 10px 15px;
}

.dd-menu li:hover {
  background-color: #e0dfdf;
}

.add-question {
  padding-top: 20px;
}

.questions-form {
  padding-top: 5px;
}

.modal.show .modal-dialog {
  transform: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 686px;
}

.input-calendar .ki-calendar {
  left: 166px;
}

.question-area {
  margin-bottom: 17px;
  margin-top: 10px;
}

.cancel-button {
  color: white;
  background-color: #a4aab2;
}

.launch-button {
  background-color: #76618B;
  color: white;
}

.question-group {
  margin-top: -24px;
}

.label-question {
  font-weight: bold;
  margin-bottom: 10px;
}

.radio-button-labels {
  margin-right: 10px;
}

.radio-button-labels label:first-child {
  margin-left: 0;
}

.radio-buttons p {
  font-weight: 700;
  font-size: 13px;
  padding-bottom: 10px;
}

.radio-buttons {
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio-buttons input, .radio-buttons label {
  margin-top: 5px;
}

.close-icon {
  margin-top: 21px;
}

.w-430 {
  width: 430px;
}

.more-options-link {
  margin-bottom: 10px;
}

.radio-buttons label:first-child {
  margin-left: 0;
}

.error-message {
  color: red;
}

a:not([href]):not([tabindex]) {
  color: #76618B;
}

.form-group label, .modal-body p {
  color: #616060;
  padding-top: 10px;
}

.input-calendar .ki-calendar {
  left: 166px;
}

.form-group label {
  color: #616060;
}

.modal-body {
  padding-left: 30px !important;
}

.question-area {
  margin-bottom: 17px;
  margin-top: 10px;
}

.close-icon {
  margin-top: 21px;
}

.w-430 {
  width: 430px;
}

.radio-buttons p {
  font-weight: 700;
  font-size: 13px;
  padding-bottom: 10px;
}

a:not([href]):not([tabindex]) {
  color: #76618B;
}

.radio-buttons {
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio-buttons input, .radio-buttons label {
  margin-top: 5px;
}

radio-button-labels {
  margin-right: 10px;
}

.radio-button-labels label:first-child {
  margin-left: 0;
}

.form-group label {
  color: #616060;
}

.modal-body {
  padding-left: 30px !important;
}

.question-area {
  margin-bottom: 17px;
  margin-top: 10px;
}

.close-icon {
  margin-top: 21px;
}

.w-430 {
  width: 430px;
}

.radio-buttons p {
  font-weight: 700;
  font-size: 13px;
  padding-bottom: 10px;
}

a:not([href]):not([tabindex]) {
  color: #76618B;
}

.radio-buttons {
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio-buttons input, .radio-buttons label {
  margin-top: 5px;
}

radio-button-labels {
  margin-right: 10px;
}

.radio-button-labels label:first-child {
  margin-left: 0;
}

.view-survey-header {
  border: 1px solid rgb(212, 215, 220);
  background-color: white;
}
.view-survey-header .view-survey-details {
  width: 60%;
}

.color-grey {
  color: grey;
  font-size: 10px;
}

.view-survey-item {
  background-color: white;
  border: 1px solid rgb(212, 215, 220);
}

.details-link {
  color: rgb(118, 97, 139) !important;
}

.percentage-container {
  height: 10px;
  width: 300px;
  background-color: rgb(236, 234, 238);
  border-radius: 10px;
}
.percentage-container .percentage-value {
  height: 100%;
  border-radius: 10px;
  background-color: rgb(118, 97, 139);
}/*# sourceMappingURL=styles.css.map */