<ul class="nav sub-topnav sub-topnav-align sub-navbar">
    <li [class.active]="isActive()"><a (click)="toActiveTab()">Active</a></li>
    <li [class.active]="isClosed()"><a (click)="toClosedTab()">Closed</a></li>
</ul>
<router-outlet></router-outlet>
    <!-- <div *ngIf = "showActiveTab" class="open-surveys">
        <div class="active-surveys d-flex justify-content-between">
            <div>
                <p class="pulse-survey-title">Active Pulse Surveys</p>
                <p class="pulse-survey-description">Here you can view and manage the pulse surveys that are active.</p>
            </div>
            <button class="btn btn-primary bb">Launch new survey</button> 
        </div>

        <table class="table standard-table two-line-table survey-table">
        <thead>
            <tr>
                <th>SURVEY TITLE</th>
                <th>COMPLETION</th>
                <th>EXPIRES ON</th>
                <th>LAUNCHED ON</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let survey of surveys; let i = index">
                <td>
                    <p>{{survey.surveyTitle}}</p>
                    <p>{{survey.surveyDescription}}</p>
                </td>
                <td>
                    <p>{{ survey.completionPercent + '%'}}</p>
                </td>
                <td>
                    <p>{{ formattedDate }}</p>
                </td>
                <td>
                    <p>{{ formattedLaunchedOn }}</p>
                    <p>{{ survey.launchedBy }}</p>
                </td>
                <td>
                    <div class="dropdown" dropdown>
                        <a class="icon-click" dropdownToggle id="dropdown-menu" aria-haspopup="true" aria-expanded="false">
                            <span class="ic-more icon"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown-menu" *dropdownMenu>
                            <li>
                                <a class="dropdown-item">Action1</a>
                            </li>
                            <li>
                                <a class="dropdown-item">Action2</a>
                            </li>
                            <li>
                                <a class="dropdown-item">Action3</a>
                            </li>
                        </ul>
                    </div>
                                        
                </td>
            </tr>
        </tbody>
    </table>
    </div> -->
    <!-- <div class="open-surveys">
        <!-- <p class="pulse-survey-title">Closed Pulse Surveys</p>
        <p class="pulse-survey-description">Here you can view and manage the pulse surveys that are closed.</p> -->
    <!-- </div> --> 