.survey-question{
    font-size:14px;
    font-weight:500;
}

.survey-response-type, .rating-label-circle{
    color:grey;
}

.survey-input-container{
    background-color: var(--secondary-background-color);
    width:80%;
}

.ng-dropdown-panel .ng-option.ng-option-marked {
    background-color: var(--secondary-background-color)!important;
}

.survey-input{
    resize: none;
    outline:none;
    width:100%;
    border-color:rgb(216,219,223);
    caret-color: rgb(216,219,223);
    color: grey;
    background-color: var(--secondary-background-color);
}

.survey-input::placeholder{
    color: grey;
}

.rating-circle{
    display:inline-block;
    width:20px;
    height:20px;
    border-width:2px;
    border-radius:50%;
    border-style: solid;
    border-color: rgb(118,97,139);
}

.rating-circle-fill{
    background-color: rgb(118,97,139);
}

.danger-text{
    color: red;
}