@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.verify-page-wrap{
    background:linear-gradient(to bottom, #9796f0,#fbc7d4);
}

.verify-header {
    font-family: 'Pacifico', cursive;
    font-size:60px;
    color: whitesmoke;
    text-shadow: 2px 4px 4px rgb(54, 50, 50);
}