<ng-template #launchNewSurvey>
    <div class="modal-header">
        <h5 class="modal-title">Launch a new survey</h5>
        <i class="ki ki-close" (click)="launchSurveyModalRef.hide()"></i>
    </div>
    <div class="modal-body">
        <div class="dropdown dropdown-custom dropdown-custom-md" dropdown #dropdown>
            <button class="d-flex align-items-center w-350 justify-content-between" dropdownToggle>
                <span class="text-primary">{{selectedItem}}</span>
                <i class="ki ki-arrow-dropdown"></i>
            </button>
            <ul class="dropdown-menu w-350" aria-labelledby="menu" *dropdownMenu>
                <li>
                    <a class="dropdown-item" (click)="onItemSelect('Create a new survey')">
                        <p class="text-large">Create a new survey</p>
                    </a>
                </li>
                <li >
                    <a class="dropdown-item" (click)="$event.stopPropagation(); toggleAdditionalItems()">
                        <p class="text-large">Create using existing template</p>
                    </a>
                </li>
                <ng-container *ngIf="showExisitingTemplates">
                    <li *ngFor="let templateName of existingTemplateNames">
                        <a class="dropdown-item" (click)="onAdditionalItemSelect(templateName)">
                            <p class="text-large">{{ templateName }}</p>
                        </a>
                    </li>
                </ng-container>
            </ul>
            <p class="error-message">{{selectionErrorMsg}}</p>
        </div>
    </div>
    <div class="modal-footer p-20">
        <button class="btn cancel-button" (click)="launchSurveyModalRef.hide()">Cancel</button>
        <button class="btn launch-button" (click)="openLaunchSurveyModal(fullTemplate)">Launch</button>
    </div>
</ng-template>
<ng-template #fullTemplate>
    <div class="questions-container">
        <div class="modal-header">
            <h5 class="modal-title">Launch survey</h5>
            <i class="ki ki-close" (click)="hide()"></i>
        </div>
        <div class="modal-sub-header">
            <div class="stepper-wizard">
                <div class="step" [ngClass]="{ 'active': activeStep === 1 }" (click)="updateActiveStep(1)">
                    <div class="step-number">
                        <span>1</span>
                    </div>
                    <label class="step-label">
                        <span>BASIC FIELDS</span>
                    </label>
                </div>
                <div class="step" [ngClass]="{ 'active': activeStep === 2 }" (click)="updateActiveStep(2)">
                    <div class="step-number">
                        <span>2</span>
                    </div>
                    <label class="step-label">
                        <span>QUESTOINS IN TEMPLATE </span>
                    </label>
                </div>
            </div>
            <div class="button-group">
                <button class="btn btn-primary" *ngIf="activeStep === 1" (click)="onSave()"[disabled]="basicFieldsForm.invalid"> Save & Continue </button>
                <div *ngIf="activeStep === 2" class="d-flex justify-content-between w-150">
                    <button class ="btn btn-secondary" (click)="toBasicFields()">Back</button>
                    <button class ="btn btn-primary" (click)="launchSurvey()"> Launch </button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div *ngIf="activeStep === 1">
                <div class="form-group">
                    <form [formGroup]="basicFieldsForm" (ngSubmit)="onSave()">
                        <div>
                            <label> Title of this Survey </label>
                            <input type="text" class="form-control input-sm w-33" formControlName="surveyName" />
                            <div *ngIf="basicFieldsForm.get('surveyName')?.invalid && basicFieldsForm.get('surveyName')?.touched" class="error-message">
                                <div *ngIf="basicFieldsForm.get('surveyName')?.errors?.['required']">Survey Name is required</div>
                            </div>
                        </div>
                        <div>
                            <label>Description</label>
                            <input type="text" class="form-control input-sm w-33" formControlName="surveyDescription" />
                            <div *ngIf="basicFieldsForm.get('surveyDescription')?.invalid && basicFieldsForm.get('surveyDescription')?.touched"
                                class="error-message">
                                <div *ngIf="basicFieldsForm.get('surveyDescription')?.errors?.['required']">Description is
                                    required</div>
                                </div>
                        </div>
                        <div>
                            <label>The survey expires on</label>
                            <div class="row clear-margin-x">
                                <div class="col-sm-12 clear-padding-x">
                                    <div class="form-group">
                                        <label for="DateAssigned">Calendar</label>
                                        <div class="input-calendar col-sm-12 clear-padding-x">
                                            <input type="text" class="form-control w-200" id="DateAssigned" bsDatepicker
                                                [bsConfig]="{ showWeekNumbers: false }" readonly
                                                formControlName="surveyExpiry">
                                            <span><i class="ki ki-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div *ngIf="activeStep === 2">
                <div *ngFor="let response of formResponses; let i = index" class="add-question d-flex w-75">
                    <accordion [closeOthers]="true" class="w-100">
                        <ng-container>
                            <div class="d-flex align-items-start mb-10">
                                <accordion-group [isOpen]="true" class="flex-fill">
                                    <div accordion-heading>
                                        <div class="d-flex align-items-center flex-fill mb-10 mt-10">
                                            <p class="text-large text-truncate-1">{{ response.questionName }}</p>
                                        </div>
                                        <i class="ki ki-arrow-dropup"></i>
                                        <i class="ki ki-arrow-dropdown"></i>
                                    </div>
                                    <div class="collapse show mt-10 mb-10" data-parent="#accordion">
                                        <div class="form-group question-group">
                                            <form [formGroup]="response.surveyQuestionForm" class="questions-form">
                                                <textarea class="form-control question-area" rows="2" placeholder="Type the question here" formControlName="surveyQuestionName" (input)="updateQuestionName($event, i)"></textarea>
                                                <a class="add-description" (click)="addDescription()">+ Add additional Description</a>
                                                <textarea class="form-control question-area" rows="3" placeholder="Provide a Description so that the employees can understand what exactly to respond to this question" *ngIf="showDescription" formControlName="surveyQuestionDescription"></textarea>
                                                <div class="radio-buttons">
                                                    <p> How do you want the employees to respond to this question? </p>
                                                    <div class="options d-flex justify-content-between w-430">
                                                        <input type="radio" formControlName="radiobutton" id="Rating_{{i}}" value="Rating">
                                                        <label for="Rating_{{i}}" class="radio-button-labels">Rating</label>
    
                                                        <input type="radio" formControlName="radiobutton"id="Commentonly_{{i}}" value="Text">
                                                        <label for="Commentonly_{{i}}" class="radio-button-labels">Comment only</label>
    
                                                        <input type="radio" formControlName="radiobutton" id="option3_{{i}}" value="SelectOneFromList">
                                                        <label for="option3_{{i}}" class="radio-button-labels">Select one from list</label>
                                                    </div>
                                                </div>
                                                <a *ngIf="formResponses[i]?.surveyQuestionForm.get('radiobutton')?.value === 'SelectOneFromList'" class="more-options-link" (click)="addInputField(i)">+ Add More options</a>
                                                <div class="d-flex ">
                                                    <div formArrayName="inputFields">
                                                        <div *ngFor="let inputField of response.surveyQuestionForm.get('inputFields')?.controls; let j = index">
                                                            <div class="d-flex">
                                                                <input type="text" [formControlName]="j" class="form-control w-400 mr-2 mt-3" />
                                                                <i class="ki ki-close close-icon" (click)="removeInputField(j, i)"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="error-message">{{response.errorInpuFieldMsg}}</div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </accordion-group>
                            </div>
                        </ng-container>
                    </accordion>
                    <i class="ki ki-delete" (click)="deleteAccordion(i)"></i>
                </div>
                <button class="btn btn-link" (click)="addResponse()">Add Question</button>
            </div>
        </div>
    </div>
</ng-template>