<div class="d-flex justify-content-center align-items-center h-100 verify-page-wrap">
    <div class="verify-page d-flex flex-column  w-30 h-250 justify-content-evenly">
        <h1 class="text-center verify-header">Pulse Survey</h1>
        <div class="h-50 d-flex flex-column justify-content-evenly">
            <button class="btn btn-primary p-4 w-100" routerLink="login">Login</button>
            <button class="btn btn-primary p-4 w-100" routerLink="register">Register</button>
        </div>
    </div>
</div>