<div class="d-flex justify-content-center align-items-center h-100 register-page-wrap">
    <div class="verify-page d-flex flex-column h-250 justify-content-evenly register-form">
        <div class="form-group-outline">
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                <div>
                    <label class="fw-bold">Photo</label>
                    <input type="file" class="form-control input-sm" formControlName="ProfilePicture" (change)="onFileSelected($event)"/>
        

                </div>
                <div>
                    <label class="fw-bold">Name</label>
                    <input type="text" class="form-control input-sm" formControlName="EmployeeName" />
                    <div *ngIf="registrationForm.get('EmployeeName')?.invalid && registrationForm.get('EmployeeName')?.touched" class="error-message">
                        <div *ngIf="registrationForm.get('EmployeeName')?.errors?.['required']">Employee Name is required</div>
                    </div>
                </div>
                <div>
                    <label class="fw-bold">Email</label>
                    <input type="text" class="form-control input-sm" formControlName="Email" />
                    <div *ngIf="registrationForm.get('Email')?.invalid && registrationForm.get('Email')?.touched" class="error-message">
                        <div *ngIf="registrationForm.get('Email')?.errors?.['required']">Email is required</div>
                    </div>
                </div>
                <div>
                    <label class="fw-bold">Password</label>
                    <input type="password" class="form-control input-sm" formControlName="PasswordHash" autocomplete=""/>
                    <div *ngIf="registrationForm.get('PasswordHash')?.invalid && registrationForm.get('PasswordHash')?.touched" class="error-message">
                        <div *ngIf="registrationForm.get('PasswordHash')?.errors?.['required']">Password is required</div>
                    </div>
                </div>
                <div>
                    <label class="fw-bold">IsAdmin</label>
                    <div class="admin-radio-btns">
                        <input type="radio" id="yes" value="true" formControlName="isAdmin" />
                        <label class="fw-bold radio-buttons-label" for="yes">Yes</label>
                        <input type="radio" id="no" value="false" formControlName="isAdmin" />
                        <label class="fw-bold radio-buttons-label" for="no">No</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary p-4 w-100" [disabled]="!registrationForm.valid || !(registrationForm.get('isAdmin')?.value)">Register</button>



            </form>
        </div>
    </div>
</div>
