<div class="d-flex justify-content-center align-items-center h-100 register-page-wrap">
    <div class="verify-page d-flex flex-column h-250 justify-content-evenly register-form">
        <div class="form-group">
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                <div>
                    <label class="fw-bold">Photo</label>
                    <input type="text" class="form-control input-sm" formControlName="ProfilePicture" />
                    <span>Some note</span>
                </div>
                <div>
                    <label class="fw-bold">Name</label>
                    <input type="text" class="form-control input-sm" formControlName="EmployeeName" />
                    <span>Some note</span>
                </div>
                <div>
                    <label class="fw-bold">Email</label>
                    <input type="text" class="form-control input-sm" formControlName="Email" />
                    <span>Some note</span>
                </div>
                <div>
                    <label class="fw-bold">Password</label>
                    <input type="password" class="form-control input-sm" formControlName="PasswordHash" autocomplete=""/>
                    <span>Some note</span>
                </div>
                <div>
                    <label class="fw-bold">IsAdmin</label>
                    <div>
                        <input type="radio" id="yes" value="true" formControlName="isAdmin" />
                        <label class="fw-bold" for="yes">Yes</label>
                        <input type="radio" id="no" value="false" formControlName="isAdmin" />
                        <label class="fw-bold" for="no">No</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary p-4 w-100">Register</button>
            </form>
        </div>
    </div>
</div>
