<div class="m-30">
    <ng-container *ngIf = responseArrayFlag >
        <div class="mb-10" *ngFor="let question of surveyQuestionsArray; index as i">
            <p class="survey-question">{{i+1}}. {{question.questionText}}</p>
            <p class="mb-10 survey-response-type">Response type: {{question.questionType}}</p>
            <ng-container *ngIf="question.questionType==QuestionType.Comment">
                <div class="p-20 survey-input-container">
                    <textarea [id]="question.surveyQuestionId" (keyup)="updateComment($event)" class="p-8 border-radius-4 survey-input" placeholder={{question.description}}></textarea>
                    <p class="danger-text" *ngIf="question.isRequired">is Required*</p>
                </div>
            </ng-container>
            <ng-container *ngIf="question.questionType==QuestionType.Rating">
                <div class="mt-20 p-20 survey-input-container">
                    <div [id]="question.surveyQuestionId" class=" d-flex rating-container">
                        <p class="rating-label-circle">Provide your rating:</p>
                        <span *ngFor="let rating of ratingBar" class="ml-10 rating-circle" [ngClass]= "{'rating-circle-fill': updateSelectAndRatingArray[i].selectedRating >= rating}" (click)="updateRating(question.surveyQuestionId,rating,i)"></span>
                    </div>
                    <p  class="danger-text" *ngIf="question.isRequired">is Required*</p>
                </div>
            </ng-container>
            <ng-container *ngIf="question.questionType==QuestionType.Dropdown">
                <div class="mt-20 p-20 survey-input-container">
                    <ng-select [id]="question.surveyQuestionId" [(ngModel)]="updateSelectAndRatingArray[i].selectedOption" [searchable]="false" (change)="optionSelected(question.surveyQuestionId, $event)" >
                        <ng-option [id]="option.optionId" *ngFor="let option of question.options" [value]="option.optionId">{{option.optionText}}</ng-option>
                    </ng-select>
                    <p  class="danger-text" *ngIf="question.isRequired">is Required*</p>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>

