* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root {
    --primary-color-light:rgb(118, 97, 139);
}

.btn-group.btn-group-secondary .btn-link.btn.active, .btn-link {
    color: white !important;
}


body {
    height:100vh;
    margin-top: 0;
}

.sub-topnav.nav .active a::after {
    border-color: #76618B !important;
}

.bottom  {
    position: absolute;
    z-index: 999999;
}

.bs-datepicker {
    top:13px;
    left: 57px;
}

.bs-datepicker .bs-datepicker-body .selected, .bs-datepicker .bs-datepicker-head {
    background-color: #76618B !important;
}

.step-label span {
    width: 128px;
    display: flex;
}

 .btn-primary,.stepper-wizard .step.active .step-number{
    background-color: #76618B!important;
    border-color: #76618B !important;
}

.btn.btn-link, .stepper-wizard .step .step-number {
    color: #76618B !important;
    border-color: #76618B !important;
}