.close-surveys {
    margin-top: 40px;
    margin-left: 25px;
}

.pulse-survey-description {
    font-size: 13px;
    font-weight: 400;
    color: #686868;
}

.pulse-survey-title {
    font-weight: 300;
    color: #252525;
    font-size: 26px;
    font-family:'Segoe UI';
    padding-bottom: 10px;
}