<div class="m-20 completed-surveys-container">
    <h2>Completed Pulse Surveys</h2>
    <p class="mb-20">Here you can see the pulse surveys that you have completed.</p>
<div class="d-flex">
        <div class="select-filter-picker">
            <ng-select [searchable]="false" placeholder="Launched Between" (change)="filterPicked($event)">
                <ng-option *ngFor="let selectedOption of filterOptions" [value] ="selectedOption.name" >{{selectedOption.name}}</ng-option>
            </ng-select>
        </div>
        <div class="search-filter-text d-flex">
            <label class="position-relative"><i class="ki ki-search position-absolute"></i></label>
            <input class="h-100 pl-32" type="search" placeholder="Search">
        </div>
        <div class="filter-reset-btn d-flex">
            <label class="position-relative"><i class="ki ki-refresh position-absolute"></i></label>
            <input class="filter-reset-btn" type="reset">
        </div>
</div>
    <table *ngIf="completedSurveys" class="table standard-table two-line-table">
        <thead>
            <tr>
                <th>SURVEY TITLE</th>
                <th>LAUNCHED ON</th>
                <th>CLOSED ON</th>
                <th>COMPLETED ON</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let survey of completedSurveys">
                <td>
                    <p class="fw-bold">{{survey.surveyTitle}}</p>
                    <p>{{survey.surveyDescription}}</p>
                </td>
                <td>
                    <p class="fw-bold">{{survey.launchedOn | date: 'mediumDate'}}</p>
                    <p>by {{survey.launchedBy}}</p>
                </td>
                <td>
                    <p class="fw-bold">{{survey.closedOn | date: 'mediumDate'}}</p>
                    <p>by {{survey.launchedBy}}</p>
                </td>
                <td>
                    <p class="fw-bold">{{survey.completedOn | date: 'mediumDate'}}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
