@import "~@ng-select/ng-select/themes/material.theme.css";

.completed-surveys-container {
    overflow-y: scroll;
    max-height: 626px;
}

.select-filter-picker{
    width:350px;

    .ng-select{
        padding-bottom:0;
    }
}

.search-filter-text{

    height:39px;
    width: 100%;

    .ki-search{
        top:7px;
        left:5px;
    }

    input{
        width:100%;
        outline: none;
    }

}

.filter-reset-btn{
    height:39px;
    width:100px;
    cursor: pointer;

    .ki-refresh{
        top:7.5px;
        left:7px;
        cursor:pointer;
    }
}